body {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  background: url("/Frame.png") no-repeat center center;
  background-size: cover;
}
.main-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}
.left-side {
  width: 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-side img {
  max-width: 80%;
  height: 100vh;
}
.right-form {
  position: absolute;
  top: 26%;
  right: 10%;
  width: 450px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  box-shadow: -10px 0 50px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  border-radius: 5%;
}
.right-form h2 {
  text-align: center;
  color: #2563eb;
  font-size: 22px;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 14px;
}

.form-group label {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 6px;
  display: block;
  color: #374151;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  font-size: 13px;
}

.upload-box {
  border: 2px dashed #93c5fd;
  background: #f5f9ff;
  padding: 16px;
  border-radius: 12px;
  text-align: center;
  margin-top: 12px;
}

.upload-box button {
  background: #2563eb;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.submit-btn {
  margin-top: 18px;
  padding: 12px;
  width: 100%;
  background: #2563eb;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}
.submit-btn:hover{
  background: #4270d3;

}

/* MOBILE */
@media (max-width: 900px) {
  body {
    flex-direction: column;
  }

  .left-image {
    height: 220px;
  }

  .right-form {
    width: 100%;
  }
}
.hidden {
  display: none;
}
